# Configuração
app.ini
__init__.py
desktop.ini

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

*.exe
*.spec

# Temporários
temp/
tmp/
*.tmp
*.temp

# Caches
.cache/
cache/
*.cache
.pytest_cache/
.mypy_cache/

# Ambiente virtual
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp

.claude/
.build/
.dist/
.templates/